<ion-header>
  <ion-toolbar color="crema">
    <ion-title>Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let entry of entries.entry">
    <ion-label> {{entry.item.name}} </ion-label>
    <ion-label> {{entry.item.price}} </ion-label>
    <ion-label> {{entry.totalQuantity}} </ion-label>
  </ion-item>

  <ion-item *ngFor="let entry of entries.custom">
    <ion-label> {{entry.name}} </ion-label>
    <ion-label> {{entry.total}} </ion-label>
  </ion-item>

  

  <div class="center">
    
    <ion-button  expand="block" color="danger" fill="outline" (click)="dismiss()">
      Close
    </ion-button>
  </div>

</ion-content>
