<ion-header >
  <ion-toolbar color="crema">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Transactions</ion-title>
    
  </ion-toolbar>
</ion-header>
  <ion-list class="list">
    <ion-item color="negativo">
      <ion-label> Date </ion-label>
      <ion-label> ID </ion-label>
      <ion-label> Total </ion-label>
    </ion-item>
    <ion-item *ngFor="let trans of transactions" color="medio">
      <ion-label> {{trans.date}} </ion-label>
      <ion-label> {{trans.id}} </ion-label>
      <ion-label> {{trans.total}} </ion-label>
      <ion-button slot="end" color="crema" fill="clear" (click)="openInfo(trans)">
        <ion-icon name="ellipsis-horizontal-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
<ion-content>

</ion-content>
