<ion-header >
  <ion-toolbar color="crema">
    <ion-title>Edit Item</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Name</ion-label>
    <ion-input #name value={{item.name}} >  </ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Price</ion-label>
    <ion-input #price type="number" value={{item.price}} >  </ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Available</ion-label>
    <ion-checkbox #status checked={{item.status}} color="crema" (ionChange)="checkedAvailable()"></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-label>Hidden</ion-label>
    <ion-checkbox #hidden checked={{item.hidden}} color="crema" (ionChange)="checkedHidden()"></ion-checkbox>
  </ion-item>


  <div class="center">
    <ion-button color="crema" fill="clear" (click)="edit(name,price,status,hidden)">
      Update
    </ion-button>
    <ion-button color="danger" fill="clear" (click)="dismiss()">
      Cancel
    </ion-button>
  </div>

  


</ion-content>
